.label {
  font-family: $secondary-font;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: $light-theme-color;
  margin-bottom: 20px;
}
