$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$main-color: #214e41;
$font-color: #757575;
$light-theme-color: #43806c;
$dark-theme-color: #ffffff;
$light-background: #e3eeed;
$button-color: #43806c;
