.hero {
  display: block;
  height: 720px;
  background-image: url('../images/hero-bg.png');
  background-repeat: no-repeat;
  background-size: contain;

  &__benefits-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;

    color: $main-color;

    padding-top: 115px;
    padding-left: 120px;
    margin-bottom: 40px;
  }
  &__search {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $main-color;
    margin-bottom: 20px;
    padding-left: 120px;

    &-button {
      display: inline-block;
      width: 123px;
      height: 60px;
      color: $dark-theme-color;
      background-color: $light-theme-color;
      border: none;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      margin-left: -5px;
    }
  }
  &__search-form {
    padding-left: 120px;
  }
  &__search-input {
    width: 280px;
    height: 60px;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    line-height: 20px;

    &::placeholder {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      padding-left: 20px;
      color: #222222;
    }
  }
  &__benefits {
    &-list {
      width: 1200px;
      height: 171px;
      background-color: $dark-theme-color;
      //   margin-top: 225px;
      margin: 225px auto 0px;
      padding-left: 50px;
      border-radius: 6px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    &-title {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 7px;
      color: $main-color;
    }
    &-image {
      margin-right: 10px;
    }
    &-item {
      display: flex;
      align-items: flex-start;
      padding-top: 50px;
      margin-right: 50px;
    }
    &-description {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: $main-color;
    }
  }
}
